body {
  background-color: $OrangePrimary;
}

.bg {
  width: 100%;
  height: 100%;

  background-image: url("../image/background-wave-element.png");
  background-repeat: no-repeat;

  background-position: 0 55%;
  background-size: 100% 65%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2%;
  margin-bottom: 10%;
  padding: 2vh 0 0 2%;

  &--left {
    &> img {
      width: 60%;
      object-fit: cover;

      @include sm {
        width: 70%;
      }
      @include md {
        width: 80%;
      }
      @include xl {
        width: 90%;
      }
    }
  }
  
  &--right {
    padding: 2%;
    
    &> button {
      background-color: unset;
      border: none;
      outline: none;
      cursor: pointer;
      display: block;

      &> span {
        height: 2px;
        width: 20px;
        background-color: $GoldLogo;
        display: block;

        @include md {
          width: 40px;
        }
        @include xl {
          width: 40px;
        }
      }
  
      & :nth-child(1) {
        margin-bottom: 6px;

        @include md {
          margin-bottom: 12px;
        }
        @include xl {
          margin-bottom: 12px;
        }
        }
        
        // &.click {
        //   & :nth-child(1) {
        //     transform-origin: center;
        //     transform: rotate(45deg);
        //   }
          
        //   & :nth-child(2) {
        //     transform-origin: center;
        //     transform: rotate(-45deg);
        //   }
        // }
    }
  }
}


.hero {
  position: relative;
  z-index: 0;

  margin-bottom: 14%;
  
  &__image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &-title {
      display: block;

      // font-family: $Text;
      // color: $OrangePrimaryDark;
      // font-size: 100px;
      // font-weight: 900;
      // text-align: center;
      // transform:scale(0.5, 1);

      width: 50%;
      margin: 0 auto;
      z-index: -2;
    }

    &--center {
      position: absolute;
      top: 2%;
      left: 20%;
      width: 50%;
      object-fit: cover;
    }
    &--left {
      position: absolute;
      top: 38%;
      left: 16%;
      object-fit: cover;
      width: 16%;
    }
    &--right {
      position: absolute;
      top: 64%;
      right: 24%;
      object-fit: cover;  
      width: 13%;
    }
  }

  &__inner {
    height: 100%;
    padding-top: 7%;

    &--headline {
      &> img {
        width: 80%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
      }
    }

    &--nav {
      font-weight: lighter;
      padding-top: 20%;
      
      @include xxs {
        font-size: 12px;
      }
      @include xxm {
        font-size: 16px;
      }
      @include xs {
        font-size: 24px;
      }
      @include sm {
        font-size: 26px;
      }
      @include md {
        font-size: 38px;
      }
      @include xl {
        font-size: 50px;
      }
      
      &--sweet {
        padding-right: 12%;

        &-content {
          width: 20%;
          margin-left: auto;

          &> img {
            position: relative;
            width: 100%;
            z-index: -3;
          }
          &> p {
            font-family: $HeadText;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            margin-bottom: -14%;

            @include xs {
            margin-bottom: -18%;
            }
          }
        }
      }
      
      &--drink {
        padding-left: 12%;

        &-content {
          width: 20%;
          margin-right: auto;

          &> img {
            position: relative;
            width: 100%;
            z-index: -3;
          }

          &> p {
            font-family: $HeadText;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            margin-bottom: -14%;

            @include xs {
              margin-bottom: -18%;
              }
          }
        }
      }

      &--food {
        padding: 3% 12% 0 0;

        &-content {
          width: 20%;
          margin-left: auto;

          &> img {
            position: relative;
            width: 100%;
            z-index: -3;
          }

          &> p {
            font-family: $HeadText;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            margin-bottom: -14%;

            @include xs {
              margin-bottom: -18%;
              }
          }
        }
      }
    }
  }
}

.concept {
  margin-bottom: 12%;
  &--headline {

    &> h1 {
      color: $OrangePrimary;
      font-family: $HeadText;
      font-weight: 400;
      text-align: center;

      @include xxs {
        font-size: 80px;
        line-height: 80px;
      }
      @include xxm {
        font-size: 110px;
        line-height: 110px;
      }
      @include xs {
        font-size: 140px;
        line-height: 140px;
      }
      @include sm {
        font-size: 170px;
        line-height: 170px;
      }
      @include md {
        font-size: 240px;
        line-height: 240px;
      }
      @include xl {
        font-size: 300px;
        line-height: 300px;
      }
    }
  }
  
  &__inner {
    position: relative;
    
    margin-top: -4%;

    &> img {
      width: 100%;
      object-fit: cover;
    }

    &--content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include xxs {
        width: 80%;
        top: 38%;
      }
      @include xxm {
        width: 70%;
        top: 38%;
      }
      @include xs {
        width: 60%;
        top: 38%;
      }
      @include sm {
        width: 60%;
        top: 38%;
      }
      @include md {
        width: 50%;
        top: 42%;
      }
      @include xl {
        width: 50%;
        top: 42%;
      }

      &> p {
        font-family: $HeadText;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        white-space: pre-line;
        text-align: center;
        margin-bottom: 4%;

        @include xxs {
          font-size: 24px;
          line-height: 18px;
        }
        @include xxm {
          font-size: 24px;
          line-height: 20px;
        }
        @include xs {
          font-size: 24px;
          line-height: 24px;
        }
        @include sm {
          font-size: 32px;
          line-height: 32px;
        }
        @include md {
          font-size: 44px;
          line-height: 44px;
        }
        @include xl {
          font-size: 52px;
          line-height: 52px;
        }
      }

      &--text {
        padding: 6%;
        background-color:rgba(255, 255, 255, 1);
        color: $TextMainColor;
        
        &--main {
          
          @include xxs {
            font-size: 12px;
            margin-bottom: 4%;
          }
          @include xxm {
            font-size: 12px;
            margin-bottom: 4%;
          }
          @include xs {
            font-size: 12px;
            margin-bottom: 4%;
          }
          @include sm {
            font-size: 14px;
            margin-bottom: 4%;
          }
          @include md {
            font-size: 16px;
            margin-bottom: 2%;
          }
          @include xl {
            font-size: 20px;
            margin-bottom: 4%;
          }
        }
        
        &--sub {
          line-height: 1.8em;

          @include xxs {
            font-size: 10px;
            height: 5em;
            overflow: hidden;
          }
          @include xxm {
            font-size: 10px;
            height: 5em;
            overflow: hidden;
          }
          @include xs {
            font-size: 10px;
            height: 57px;
            overflow: hidden;
          }
          @include sm {
            font-size: 10px;
            height: 57px;
            overflow: hidden;
          }
          @include md {
            font-size: 12px;
            height: auto;
            overflow: visible;
          }
          @include xl {
            font-size: 17px;
            height: auto;
            overflow: visible;
          }
        }
      }
    }
  }
}

.recommend {

  &--headline {
    position: relative;
    z-index: 1;

    &> h1 {
      color: $OrangePrimary;

      font-family: $HeadText;
      font-weight: 400;
      text-align: center;
      
      @include xxs {
        font-size:  80px;
        line-height: 80px;
      }
      @include xxm {
        font-size: 100px;
        line-height: 100px;
      }
      @include xs {
        font-size: 120px;
        line-height: 120px;
      }
      @include sm {
        font-size: 155px;
        line-height: 155px;
      }
      @include md {
        font-size: 215px;
        line-height: 215px;
      }
      @include xl {
        font-size: 265px;
        line-height: 265px;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    margin-top: -8%;

    padding: 0 6% 40% 6%;

    position: relative;
    z-index: 2;

    &> div {
      width: calc(100% / 3);
      
      &> div {
        position: relative;

        @include xxs {
          transform: scale(.7, .7);
        }
        @include xxm {
          transform: scale(.8, .8);
        }
        @include xs {
          transform: scale(.9, .9);
        }
        @include sm {
          transform: scale(1.2, 1.2);
        }
        @include md {
          transform: scale(1.2, 1.2);
        }
        @include xl {
          transform: scale(1.5, 1.5);
        }
        
        &> * {
          position: absolute;
        }
        
        &> img {
          top: 0;
          left: 50%;
          right: 0;
          transform: translate(-50%, 0%);

          height: 180px;
        }
        
        &> span {
          display: block;
          background-color: red;
          border-radius: 100%;
          
          top: 40px;
          left: 50%;
          transform: translate(-50%, 0%);
          z-index: -1;

          width: 180px;
          height: 180px;
        }
        
        &> p {
          top: 195px;
          left: 50%;
          transform: translateX(-50%);
          font-family: $HeadText;
          color: rgba(255, 255, 255, 1);
          white-space: nowrap;

          font-size: 26px;
        }
      }
    }
  }
  
  &__nav {
    text-align: center;
    padding-bottom: 200px;

    padding-top: 50px;

    &> div {
      height: 70px;
      width: 260px;
      // min-width: 200px;
      // background-size: 100% auto;
      background-image: url("../image/Property 1=link-btn-common.png");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      margin: 0 auto;
      
      &:hover {
        background-image: url("../image/Property 1=link-btn-hover.png");
      }
    }
  }
}

.footer {
  padding: 2%;
  margin-top: 10%;

  &__headline {
    margin-bottom: -1%;
    
    &> img {
      width: 100%;
      object-fit: cover;
    } 
  }

  &__inner {
    background-color: rgba(255, 179, 30, 1);
    padding: 4% 0;
    
    &--copy {
      text-align: center;
      color: $GoldLogo;
      font-family: $HeadText;
      
      @include xxs {
        font-size: 11px;
      }
      @include xxm {
        font-size: 11px;
      }
      @include xs {
        font-size: 11px;
      }
      @include sm {
        font-size: 14px;
      }
      @include md {
        font-size: 14px;
      }
      @include xl {
        font-size: 17px;
      }
    }
    
    &--text {
      display: block;
      font-size: 10px;
      margin: 2% auto 0;
      color: rgba(255, 255, 255, 1);
      font-family: $Text;

      @include xxs {
        width: 70%;
      }
      @include xxm {
        width: 60%;
      }
      @include xs {
        width: 60%;
      }
      @include sm {
        width: 50%;
      }
      @include md {
        width: 40%;
        font-size: 12px;
      }
      @include xl {
        width: 30%;
        font-size: 15px;
      }
    }
  }
}