body {
  background-color: #ffc44a;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url("../image/background-wave-element.png");
  background-repeat: no-repeat;
  background-position: 0 55%;
  background-size: 100% 65%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2%;
  margin-bottom: 10%;
  padding: 2vh 0 0 2%;
}

.header--left > img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .header--left > img {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .header--left > img {
    width: 80%;
  }
}

@media screen and (min-width: 1280px) {
  .header--left > img {
    width: 90%;
  }
}

.header--right {
  padding: 2%;
}

.header--right > button {
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}

.header--right > button > span {
  height: 2px;
  width: 20px;
  background-color: #917d38;
  display: block;
}

@media screen and (min-width: 1024px) {
  .header--right > button > span {
    width: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header--right > button > span {
    width: 40px;
  }
}

.header--right > button :nth-child(1) {
  margin-bottom: 6px;
}

@media screen and (min-width: 1024px) {
  .header--right > button :nth-child(1) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .header--right > button :nth-child(1) {
    margin-bottom: 12px;
  }
}

.hero {
  position: relative;
  z-index: 0;
  margin-bottom: 14%;
}

.hero__image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero__image-title {
  display: block;
  width: 50%;
  margin: 0 auto;
  z-index: -2;
}

.hero__image--center {
  position: absolute;
  top: 2%;
  left: 20%;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__image--left {
  position: absolute;
  top: 38%;
  left: 16%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 16%;
}

.hero__image--right {
  position: absolute;
  top: 64%;
  right: 24%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 13%;
}

.hero__inner {
  height: 100%;
  padding-top: 7%;
}

.hero__inner--headline > img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  display: block;
}

.hero__inner--nav {
  font-weight: lighter;
  padding-top: 20%;
}

@media screen and (max-width: 320px) {
  .hero__inner--nav {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) {
  .hero__inner--nav {
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) {
  .hero__inner--nav {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .hero__inner--nav {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__inner--nav {
    font-size: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__inner--nav {
    font-size: 50px;
  }
}

.hero__inner--nav--sweet {
  padding-right: 12%;
}

.hero__inner--nav--sweet-content {
  width: 20%;
  margin-left: auto;
}

.hero__inner--nav--sweet-content > img {
  position: relative;
  width: 100%;
  z-index: -3;
}

.hero__inner--nav--sweet-content > p {
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  margin-bottom: -14%;
}

@media screen and (min-width: 576px) {
  .hero__inner--nav--sweet-content > p {
    margin-bottom: -18%;
  }
}

.hero__inner--nav--drink {
  padding-left: 12%;
}

.hero__inner--nav--drink-content {
  width: 20%;
  margin-right: auto;
}

.hero__inner--nav--drink-content > img {
  position: relative;
  width: 100%;
  z-index: -3;
}

.hero__inner--nav--drink-content > p {
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  margin-bottom: -14%;
}

@media screen and (min-width: 576px) {
  .hero__inner--nav--drink-content > p {
    margin-bottom: -18%;
  }
}

.hero__inner--nav--food {
  padding: 3% 12% 0 0;
}

.hero__inner--nav--food-content {
  width: 20%;
  margin-left: auto;
}

.hero__inner--nav--food-content > img {
  position: relative;
  width: 100%;
  z-index: -3;
}

.hero__inner--nav--food-content > p {
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  margin-bottom: -14%;
}

@media screen and (min-width: 576px) {
  .hero__inner--nav--food-content > p {
    margin-bottom: -18%;
  }
}

.concept {
  margin-bottom: 12%;
}

.concept--headline > h1 {
  color: #ffc44a;
  font-family: "Lobster", cursive;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .concept--headline > h1 {
    font-size: 80px;
    line-height: 80px;
  }
}

@media screen and (min-width: 321px) {
  .concept--headline > h1 {
    font-size: 110px;
    line-height: 110px;
  }
}

@media screen and (min-width: 576px) {
  .concept--headline > h1 {
    font-size: 140px;
    line-height: 140px;
  }
}

@media screen and (min-width: 768px) {
  .concept--headline > h1 {
    font-size: 170px;
    line-height: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .concept--headline > h1 {
    font-size: 240px;
    line-height: 240px;
  }
}

@media screen and (min-width: 1280px) {
  .concept--headline > h1 {
    font-size: 300px;
    line-height: 300px;
  }
}

.concept__inner {
  position: relative;
  margin-top: -4%;
}

.concept__inner > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.concept__inner--content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 320px) {
  .concept__inner--content {
    width: 80%;
    top: 38%;
  }
}

@media screen and (min-width: 321px) {
  .concept__inner--content {
    width: 70%;
    top: 38%;
  }
}

@media screen and (min-width: 576px) {
  .concept__inner--content {
    width: 60%;
    top: 38%;
  }
}

@media screen and (min-width: 768px) {
  .concept__inner--content {
    width: 60%;
    top: 38%;
  }
}

@media screen and (min-width: 1024px) {
  .concept__inner--content {
    width: 50%;
    top: 42%;
  }
}

@media screen and (min-width: 1280px) {
  .concept__inner--content {
    width: 50%;
    top: 42%;
  }
}

.concept__inner--content > p {
  font-family: "Lobster", cursive;
  color: white;
  font-weight: 400;
  white-space: pre-line;
  text-align: center;
  margin-bottom: 4%;
}

@media screen and (max-width: 320px) {
  .concept__inner--content > p {
    font-size: 24px;
    line-height: 18px;
  }
}

@media screen and (min-width: 321px) {
  .concept__inner--content > p {
    font-size: 24px;
    line-height: 20px;
  }
}

@media screen and (min-width: 576px) {
  .concept__inner--content > p {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .concept__inner--content > p {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .concept__inner--content > p {
    font-size: 44px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .concept__inner--content > p {
    font-size: 52px;
    line-height: 52px;
  }
}

.concept__inner--content--text {
  padding: 6%;
  background-color: white;
  color: #5b4a40;
}

@media screen and (max-width: 320px) {
  .concept__inner--content--text--main {
    font-size: 12px;
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 321px) {
  .concept__inner--content--text--main {
    font-size: 12px;
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 576px) {
  .concept__inner--content--text--main {
    font-size: 12px;
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 768px) {
  .concept__inner--content--text--main {
    font-size: 14px;
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 1024px) {
  .concept__inner--content--text--main {
    font-size: 16px;
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 1280px) {
  .concept__inner--content--text--main {
    font-size: 20px;
    margin-bottom: 4%;
  }
}

.concept__inner--content--text--sub {
  line-height: 1.8em;
}

@media screen and (max-width: 320px) {
  .concept__inner--content--text--sub {
    font-size: 10px;
    height: 5em;
    overflow: hidden;
  }
}

@media screen and (min-width: 321px) {
  .concept__inner--content--text--sub {
    font-size: 10px;
    height: 5em;
    overflow: hidden;
  }
}

@media screen and (min-width: 576px) {
  .concept__inner--content--text--sub {
    font-size: 10px;
    height: 57px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .concept__inner--content--text--sub {
    font-size: 10px;
    height: 57px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .concept__inner--content--text--sub {
    font-size: 12px;
    height: auto;
    overflow: visible;
  }
}

@media screen and (min-width: 1280px) {
  .concept__inner--content--text--sub {
    font-size: 17px;
    height: auto;
    overflow: visible;
  }
}

.recommend--headline {
  position: relative;
  z-index: 1;
}

.recommend--headline > h1 {
  color: #ffc44a;
  font-family: "Lobster", cursive;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .recommend--headline > h1 {
    font-size: 80px;
    line-height: 80px;
  }
}

@media screen and (min-width: 321px) {
  .recommend--headline > h1 {
    font-size: 100px;
    line-height: 100px;
  }
}

@media screen and (min-width: 576px) {
  .recommend--headline > h1 {
    font-size: 120px;
    line-height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .recommend--headline > h1 {
    font-size: 155px;
    line-height: 155px;
  }
}

@media screen and (min-width: 1024px) {
  .recommend--headline > h1 {
    font-size: 215px;
    line-height: 215px;
  }
}

@media screen and (min-width: 1280px) {
  .recommend--headline > h1 {
    font-size: 265px;
    line-height: 265px;
  }
}

.recommend__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -8%;
  padding: 0 6% 40% 6%;
  position: relative;
  z-index: 2;
}

.recommend__inner > div {
  width: calc(100% / 3);
}

.recommend__inner > div > div {
  position: relative;
}

@media screen and (max-width: 320px) {
  .recommend__inner > div > div {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
}

@media screen and (min-width: 321px) {
  .recommend__inner > div > div {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}

@media screen and (min-width: 576px) {
  .recommend__inner > div > div {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@media screen and (min-width: 768px) {
  .recommend__inner > div > div {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@media screen and (min-width: 1024px) {
  .recommend__inner > div > div {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@media screen and (min-width: 1280px) {
  .recommend__inner > div > div {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

.recommend__inner > div > div > * {
  position: absolute;
}

.recommend__inner > div > div > img {
  top: 0;
  left: 50%;
  right: 0;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 180px;
}

.recommend__inner > div > div > span {
  display: block;
  background-color: red;
  border-radius: 100%;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: -1;
  width: 180px;
  height: 180px;
}

.recommend__inner > div > div > p {
  top: 195px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Lobster", cursive;
  color: white;
  white-space: nowrap;
  font-size: 26px;
}

.recommend__nav {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 50px;
}

.recommend__nav > div {
  height: 70px;
  width: 260px;
  background-image: url("../image/Property 1=link-btn-common.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0 auto;
}

.recommend__nav > div:hover {
  background-image: url("../image/Property 1=link-btn-hover.png");
}

.footer {
  padding: 2%;
  margin-top: 10%;
}

.footer__headline {
  margin-bottom: -1%;
}

.footer__headline > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__inner {
  background-color: #ffb31e;
  padding: 4% 0;
}

.footer__inner--copy {
  text-align: center;
  color: #917d38;
  font-family: "Lobster", cursive;
}

@media screen and (max-width: 320px) {
  .footer__inner--copy {
    font-size: 11px;
  }
}

@media screen and (min-width: 321px) {
  .footer__inner--copy {
    font-size: 11px;
  }
}

@media screen and (min-width: 576px) {
  .footer__inner--copy {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  .footer__inner--copy {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__inner--copy {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__inner--copy {
    font-size: 17px;
  }
}

.footer__inner--text {
  display: block;
  font-size: 10px;
  margin: 2% auto 0;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 320px) {
  .footer__inner--text {
    width: 70%;
  }
}

@media screen and (min-width: 321px) {
  .footer__inner--text {
    width: 60%;
  }
}

@media screen and (min-width: 576px) {
  .footer__inner--text {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .footer__inner--text {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .footer__inner--text {
    width: 40%;
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__inner--text {
    width: 30%;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */